.navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-transform: capitalize;
    font-weight: bold;
    color: rgba(252, 205, 144, 0.871);
    padding-left: 1%;

}

div.container-fluid a:hover {
    transition: 0.5s;
    background-color: rgba(250, 151, 58, 0.838);
    border-radius: 5%;
}

div.container-fluid a.signup {
    text-decoration: none;
}

.container-fluid {
    margin-left: 2%;
    margin-right: 50%;
    padding-left: 3%;

}

p.intro {
    font-size: larger;
    color: white;
}

p.processing {
    font-size: larger;
    color: white;
}

p.objectives {
    font-size: larger;
    color: white;

}

p.learning {
    font-size: larger;
    color: white;
}

p.real-time {
    font-size: larger;
    color: white;
}

p.channel {
    font-size: larger;
    color: white;
}

p.heading {
    padding-left: 30%;
}

p.head {
    font-size: larger;
    color: white;
}

div i:hover {
    color: rgb(195, 111, 32);
}

div i {
    color: black;
    font-size: large;
    margin-left: 85%;
    position: absolute;
}

a.signup {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: large;
    margin-left: 87%;
    position: absolute;
}

div.email label {
    color: white;
}

div.password label {
    color: white;
}

form div {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;

}

div.components {
    margin-top: 5%;
    margin-left: 4%;
}

.mainheading {
    padding-top: 5%;
    color: rgb(244, 249, 250);
    font-size: 400%;
    line-height: 150%;
}

div.aboutus {
    font-size: larger;
    color: aliceblue;
    line-height: 250%;
    margin-top: 4%;
    margin-left: 3%;
    margin-bottom: none;
}

div.method {
    font-size: larger;
    color: aliceblue;
    line-height: 250%;
    margin-top: 4%;
    margin-left: 3%;
    margin-bottom: none;
}


body {
    background: url(uss.jpg);
    background-size: 100%;
    overflow-x: hidden;

}

.card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 362px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;

    &:hover {
        transition: all 0.1s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -8px;
        border: 1px solid #cccccc;
        background-color: white;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}